@model List<FavPokemon>
<body>
    @if (Model.Count == 0)
    {
        <p>You don't currently have any Pokemon added to your favorites.</p>
    }
    else
    {
        <h2>Viewing your favorite Pokemon:</h2>
        @foreach (FavPokemon p in Model)
        {
            <img src=@p.Image />
            <p>Name: @p.Name</p>
            <p>Type(s): @p.Type1@p.Type2</p>
            <br />
            <a asp-action="Delete" asp-controller="Favorites" asp-route-id="@p.Id"><button>Remove Favorite</button></a>
            <hr />
        }
    }
</body>
