<body>
    <h1>Welcome to the Pokemon Deck Keeper!</h1>
    <br />
    <br />
    <h4>Gotta Cache 'Em All</h4>
    <br />
    <br />
    <h4>If you would like to start your own Pokemon Deck, please  login or register an account! </h4>
    <br />
    <br />

    <div class="city">
        <p><strong>@TempData.Peek("error")</strong></p>
        <form align="center" asp-action="SearchByName" asp-controller="Home">
            <label>Search for a Pokemon by Name!</label>
            <input type="text" name="pokemon" />
            <input type="submit" />
        </form>
        <br />
    </div>

    <div class="city">
        <form align="center" asp-action="SearchByType" asp-controller="Home">
            <label for="type">Search for Pokemon by Type!</label>
            <select name="type" id="type">
                <option value="normal">Normal</option>
                <option value="fighting">Fighting</option>
                <option value="flying">Flying</option>
                <option value="poison">Poison</option>
                <option value="ground">Ground</option>
                <option value="rock">Rock</option>
                <option value="bug">Bug</option>
                <option value="ghost">Ghost</option>
                <option value="steel">Steel</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="grass">Grass</option>
                <option value="electric">Electric</option>
                <option value="psychic">Psychic</option>
                <option value="ice">Ice</option>
                <option value="dragon">Dragon</option>
                <option value="dark">Dark</option>
                <option value="fairy">Fairy</option>
            </select>
            <input type="submit" />
        </form>
        <br />
    </div>

    <div class="city">
        <p><strong>@TempData.Peek("moveerror")</strong></p>
        <form align="center" asp-action="SearchByMove" asp-controller="Home">
            <label for="move">Search by Move!</label>
            <input type="text" name="move" />
            <input type="submit" />
        </form>
        <br />
    </div>

    <div class="city">
        <form align="center" asp-action="SearchByDex" asp-controller="Home">
            <label for="dex">Search by Pokedex Version!</label>
            <select name="dex" id="dex">
                <option value="national">National</option>
                <option value="kanto">Kanto</option>
                <option value="updated-kanto">Updated Kanto</option>
                <option value="original-johto">Original Johto</option>
                <option value="updated-johto">Updated Johto</option>
                <option value="hoenn">Hoenn</option>
                <option value="updated-hoenn">Updated Hoenn</option>
                <option value="original-sinnoh">Original Sinnoh</option>
                <option value="extended-sinnoh">Extended Sinnoh</option>
                <option value="original-unova">Original Unova</option>
                <option value="updated-unova">Updated Unova</option>
                <option value="kalos-central">Central Kalos</option>
                <option value="kalos-coastal">Coastal Kalos</option>
                <option value="kalos-mountain">Mountain Kalos</option>
                <option value="original-alola">Original Alola</option>
                <option value="original-melemele">Original Melemele</option>
                <option value="original-akala">Original Akala</option>
                <option value="original-ulaula">Original Ulaula</option>
                <option value="original-poni">Original Poni</option>
                <option value="updated-alola">Updated Alola</option>
                <option value="updated-melemele">Updated Melemele</option>
                <option value="updated-akala">Updated Akala</option>
                <option value="updated-ulaula">Updated Ulaula</option>
                <option value="updated-poni">Updated Poni</option>
                <option value="galar">Galar</option>
                <option value="isle-of-armor">Isle of Armor</option>
                <option value="crown-tundra">Crown Tundra</option>
            </select>
            <input type="submit" />
        </form>
        <br />
    </div>

    <div class="city">
        <form align="center" asp-action="SearchByHabitat" asp-controller="Home">
            <label for="habitat">Search by Habitat!</label>
            <select name="habitat" id="habitat">
                <option value="cave">Cave</option>
                <option value="forest">Forest</option>
                <option value="grassland">Grassland</option>
                <option value="mountain">Mountain</option>
                <option value="rare">Rare</option>
                <option value="rough-terrain">Rough Terrain</option>
                <option value="sea">Sea</option>
                <option value="urban">Urban</option>
                <option value="waters-edge">Water's Edge</option>
            </select>
            <input type="submit" />
        </form>
    </div>


</body>

