<h1>Welcome to the Pokemon Deck Keeper!</h1>
<br />
<br />
<h4>Feel free to browse our site and look at various pokemon by searching for their name, abilities or type!</h4>
<br />
<br />
<h4>If you would like to start your own Pokemon Deck, please  login or register an account! </h4>
<br />
<br />

<form asp-action="SearchByName" asp-controller="Home">
    <label>Search for a Pokemon by name!</label>
    <input type="text" name="pokemon" />
    <input type="submit" />
</form>
<br />

<form asp-action="SearchByType" asp-controller="Home">
<label>Search for Pokemon by Type!</label>
<input type="text" name="type" />
<input type="submit" />
</form>
<br />

<form asp-action="SearchByMove" asp-controller="Home">
    <label for="move">Search by move</label>
    <input type="text" name="move" />
    <input type="submit" />
</form>

