@model PokedexRoot

<h2>Pokemon in @Model.name</h2>

<ul>
    @foreach (Pokemon_Entries p in Model.pokemon_entries)
    {
        <li>@p.pokemon_species.name</li>
        <a asp-action="SearchByName" asp-controller="Home" asp-route-pokemon="@p.pokemon_species.name">
            <button>
                See More!
            </button>
        </a>
    }
</ul>

